<h3>商品一覧</h3>
<table class="col-md-8 offset-md-1">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税込価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td>
          <%= item.name %>
        </td>
        <td><%= item.price %></td>
        <td><%= genre_id %> </td>
        <td>
          <%= item_is_active %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>