<h2>ログイン</h2>

<h5>会員の方はこちらからログイン</h5>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="container">
  <div class="form-row">
    <div class="form-group col-6">
      <%= f.label :メールアドレス %>
    </div>
    <div class="col">
      <%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-group col-6">
      <%= f.label :パスワード %>
    </div>
    <div class="col">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="form-group col-10">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  </div>
</div>

<% end %>

<h5>会員登録がお済みでない方</h5>

<%= link_to "こちら", new_customer_registration_path %>
から新規登録を行ってください。